<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <br/>
              
              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control form-control-lg" [(ngModel)]="newTasbeeh" placeholder="Tasbeeh Name" />
                <br/>
                <button class="btn btn-outline-light btn-lg px-5" (click)="addNewTasbeeh()">Add new Tasbeeh</button>
              </div>
              <br/>
              <select [(ngModel)]="selectedId" (change)="changeGroup()">
                <option *ngFor="let gr of groups" [value]="gr.id" > {{gr.name}} </option> 
                
              </select>
<div *ngIf="selectedId > 0">
              <h1 class="fw-bold mb-2 text-uppercase" >{{selectedGroup.name}}</h1>
              <!-- <img src="../assets/counter.png"/> -->
              <!-- <p class="text-white-50 mb-5">Please enter your login and password!</p> -->

              <div class="form-outline form-white mb-4">
                <!-- <input type="email" id="typeEmailX" class="form-control form-control-lg" /> -->
                <h2 class="form-label" for="typeEmailX">{{selectedGroup.count}}</h2>
              </div>

              <div class="form-outline form-white mb-4">
                <!-- <input type="password" id="typePasswordX" class="form-control form-control-lg" /> -->
                <!-- <label class="form-label" for="typePasswordX">Password</label> -->
              </div>

              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

              <!-- <button class="btn btn-outline-light btn-lg px-5" (click)="addCount()">Count</button> -->
              <button class="btn btn-outline-light btn-lg px-5" (click)="resetCount()">Reset</button>

</div>
              <br/>
              <!-- <label class="form-label" >Add new tasbeeh</label> -->
              <p>
                Select Tasbeeh from the drop down and start reciting accompanied by tapping the below button. <br/>You can add your own tasbeeh by clicking on the "Add new Tasbeeh"
              </p>
              <p class="bottombutton">
                <img src="../assets/press.jpg" (click)="addCount()"/>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>