<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <br/>

              <div class="form-outline form-white mb-4 add-tasbeeh-row">
                <input type="email" class="form-control form-control-lg" [(ngModel)]="newTasbeeh" placeholder="Tasbeeh Name" />
                <button class="btn btn-outline-light btn-lg px-4" (click)="addNewTasbeeh()">New</button>
                <button class="btn btn-outline-light btn-lg px-5" (click)="resetCount()">Reset</button>
              </div>
              <br/>
              <div class="dropdown-count-row mb-4">
                <h2 *ngIf="selectedId > 0" class="count-display mb-0">{{selectedGroup.count}}</h2>
                <select [(ngModel)]="selectedId" (change)="changeGroup()">
                  <option *ngFor="let gr of groups" [value]="gr.id">{{gr.name}}</option>
                </select>
              </div>
              <br/>
              <!-- <label class="form-label" >Add new tasbeeh</label> -->
<!--              <p>-->
<!--                Select Tasbeeh from the drop down and start reciting accompanied by tapping the below button. <br/>You can add your own tasbeeh by clicking on the "Add new Tasbeeh"-->
<!--              </p>-->
              <div class="kalima-image mb-3">
                <img src="assets/kalima.jfif" alt="Kalima" />
              </div>
              <p class="bottombutton">
                <img src="assets/press.jpg" (click)="addCount()"/>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
